body {
    margin: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

#cover {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.coverImage {
    object-fit: cover;
}

#cover > .coverImage {
    width: 100%;
    height: 100%;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#searchBar {
    width: 40em;
    height: 4em;
    margin: 15em auto;
    position: relative;
    border-radius: .5em;
    background: rgba(240, 250, 254, .5);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0em 2em 5em rgba(100, 100, 100, .3);
    opacity: .8;
    transition: 0.5s opacity, 0.5s background;
}

#searchBar:hover {
    opacity: 1;
    background: rgba(240, 250, 254, .8);
    box-shadow: 0em 2em 5em rgba(100, 100, 100, .6);
}

#searchBar.searchBarFocused {
    opacity: 1;
    box-shadow: 0em 2em 5em rgba(100, 100, 100, .6);
}

#textInputIcon {
    position: absolute;
    width: 0;
    top: 0.5em;
    left: 0.5em;
    font-size: 2em;
    line-height: 1.2em;
    font-family: Roboto;
    color: gray;
}

#textInput {
    position: absolute;
    border: none;
    top: 0.3em;
    left: 2em;
    width: 18em;
    font-size: 2em;
    line-height: 1.3em;
    padding: 0em;
    font-family: Roboto;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

#textInput:focus {
    outline: none;
}

#textInputPrewords {
    position: absolute;
    width: 18em;
    top: 0.5em;
    left: 2em;
    font-size: 2em;
    line-height: 1em;
    font-family: Roboto;
    color: gray;
}

#bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 8.5em;
    background: rgba(255,255,255,.5);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -webkit-animation: flyBottom .7s .5s both;
}

#bottomBar:before {
    content: '';
    position: absolute;
    width: 100%;
    top: -2rem;
    height: 2em;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.1));
}

#sites {
    padding: 0 2%;
    height: 8.5em;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-animation: flyBottom .5s .7s both;
}

#sites > div {
    flex-grow: 1;
}

.siteButton {
    margin-top: 1.5em;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: -webkit-filter .3s;
}

.siteButton:hover {
    -webkit-filter: brightness(.6);
}

.siteIcon {
    width: 4.8em;
    height: 4.8em;
    border-radius: 1em;
    display: inline-block;
}

.siteTitle {
    font-family: SF UI Display;
    font-size: .9em;
    line-height: 2em;
    letter-spacing: .03em;
    color: #333;
}

#infoText {
    position: absolute;
    right: 1em;
    top: -7em;
    height: 6em;
    text-align: center;
    font-family: SF UI Display;
    color: white;
    font-size: 0.8em;
    line-height: 2em;
    font-weight: bold;
    -webkit-transform: rotate(5deg);
    text-shadow: 0px 1px 5px black;
    cursor: pointer;
    display: none;
    transition: font-size 0.1s, -webkit-transform 0.5s;
    -webkit-animation: flyTop .5s 2s both;
}

#infoText:hover {
    -webkit-transform: rotate(0deg);
    font-size: 1em;
}

#infoText:active {
    top: -6.5em;
}

#imageBox .coverImage {
    height: 4em;
    border: solid white 0.5em;
    box-shadow: 2px 2px 5px rgba(100, 100, 100, .6);
}

.click {
    -webkit-animation: shock 0.2s;
}

@-webkit-keyframes shock {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-20deg);
    }
    75% {
        -webkit-transform: rotate(40deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes flyBottom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes flyTop {
    from {
        opacity: 0;
        top: -10em;
    }
    to {
        opacity: 1;
        top: -8em;
    }
}