body {
    margin: 0;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

#cover {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #D3CCE3;
    background: linear-gradient(to bottom, #E9E4F0, #D3CCE3);
    transition: background .5s;
}

.coverImage {
    object-fit: cover;
}

#cover>.coverImage {
    width: 100%;
    height: 100%;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#searchBar {
    max-width: 30em;
    width: 80vw;
    height: 3.2em;
    margin: 15em auto;
    position: relative;
    border-radius: 1em;
    background: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 0 .2em rgba(0, 0, 0, .1), 0 0 5rem rgba(0, 0, 0, .1);
    opacity: .8;
    transition: 0.5s opacity, 0.5s background;
}

#searchBar:hover {
    opacity: 1;
    background: rgba(255, 255, 255, .8);
}

#searchBar.searchBarFocused {
    opacity: 1;
}

#textInputIcon {
    position: absolute;
    top: .8em;
    left: .8em;
    width: 1.7rem;
    height: 1.8rem;
    background: url(icons/search.svg) no-repeat;
}

#textInput {
    position: absolute;
    border: none;
    top: 0.3em;
    left: 2em;
    width: calc(100% - 3em);
    font-size: 1.6em;
    line-height: 1.3em;
    padding: 0em;
    font-family: SF UI Display;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    color: #455A64;
}

#textInput::placeholder {
    color: black;
    opacity: .4;
}

#textInput:focus {
    outline: none;
}

#textInputPrewords {
    position: absolute;
    width: 18em;
    top: 0.5em;
    left: 2em;
    font-size: 2em;
    line-height: 1em;
    font-family: Roboto;
    color: gray;
}

#bottom {
    position: absolute;
    width: 100%;
    bottom: 1em;
}

#bottomBar {
    margin: 0 auto;
    position: relative;
    width: 42em;
    height: 4em;
    padding: 1em .5em;
    background: rgba(255, 255, 255, .6);
    border-radius: 1.35rem;
    box-shadow: 0 0 .2em rgba(0, 0, 0, .1), 0 0 5rem rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -webkit-animation: flyBottom .7s .5s both;
}

#sites {
    width: 100%;
    position: relative;
    display: flex;
}

#sites>div {
    flex-grow: 1;
}

.siteButton {
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: -webkit-filter .3s;
}

.siteButton:hover {
    -webkit-filter: brightness(.6);
}

.siteIcon {
    width: 4em;
    height: 4em;
    border-radius: 22.5%;
    box-shadow: 0 0 .1em rgba(0, 0, 0, .3);
    display: inline-block;
}

.siteTitle {
    display: none;
    font-family: SF UI Display;
    font-size: .9em;
    line-height: 2em;
    letter-spacing: .03em;
    color: #333;
}

#infoText {
    position: absolute;
    width: 15em;
    left: 2em;
    bottom: 0;
    font-family: SF UI Display;
    color: #FFF;
    font-size: 0.8em;
    line-height: 1.6em;
    text-shadow: 0 0 .2em rgba(0, 0, 0, .6);
    display: none;
    opacity: .5;
    transition: opacity .3s;
    animation: fadeIn .5s 2s backwards;
}

#infoText:hover {
    opacity: 1;
}

#imageLink:hover,
#copyrightLink:hover,
#authorLink:hover {
    text-decoration: underline;
}

.click {
    -webkit-animation: shock .5s;
}

@-webkit-keyframes shock {
    0% {
        -webkit-transform: scale(1) translateY(0);
        opacity: 1;
        -webkit-filter: blur(0);
    }
    100% {
        -webkit-transform: scale(5) translateY(-1em);
        opacity: 0;
        -webkit-filter: blur(2em);
    }
}

@-webkit-keyframes flyBottom {
    from {
        transform: translateY(8em);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .5;
    }
}

@media only screen and (max-width: 1080px) {
    #infoText {
        bottom: 8em;
    }
}

@media only screen and (max-width: 720px) {
    #bottom {
        font-size: 2.2vw;
    }
}
